<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h2>Edit Page</h2>
		<ol class="breadcrumb">
			<li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="/admin/pages">Pages</a></li>
			<li class="active">New</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="box">
			<div class="box-body">
				<form action="/admin/pages/<%= page.id %>/update" method="post">
					<!-- Left section start -->
					<div class="col-sm-8">
						<div class="box-body">
							<input class="form-control input-lg" type="text" value="<%= page.title %>" name="title" placeholder="Enter title here" />
						</div>
						<div class="box-body">
							<textarea id="description" name="description" rows="10" cols="80" placeholder="Description"><%= page.description %></textarea>
						</div>
					</div>
					<!-- Left section ends -->

					<!-- Right section start -->
					<div class="col-sm-4">
						
						<div class="box-body">
							<input type="submit" class="btn btn-success" value="Update" />
						</div>
					</div>
					<!-- Right section end -->
				</form>
			</div>
		</div>
	</section>
</div>
<!-- CK Editor -->
<script src="https://cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>
<script>
    jQuery(document).ready(function () {
        CKEDITOR.replace('description', { height: '300px' });
    });
</script>