<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h2>Add New Page</h2>
		<ol class="breadcrumb">
			<li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="/admin/pages">Pages</a></li>
			<li class="active">New</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="box">
			<div class="box-body">
				<form action="/admin/pages/create" method="post" enctype="multipart/form-data">
					<!-- Left section start -->
					<div class="col-sm-8">
						<div class="box-body">
							<input class="form-control input-lg" type="text" name="title" placeholder="Enter title here" />
						</div>
						<div class="box-body">
							<textarea id="description" name="description" rows="10" cols="80" placeholder="Description"></textarea>
						</div>
					</div>
					<!-- Left section ends -->

					<!-- Right section start -->
					<div class="col-sm-4">
						<div class="box box-primary">
							<div class="box-header with-border"><h3 class="box-title">Featured Image</h3></div>
							<div class="box-body"><input id="featured" type="file" name="featured" /></div>
							<div id="preview" class="col-sm-12"></div>
						</div>
						<div class="box-body">
							<input type="submit" class="btn btn-success" value="Publish" />
						</div>
					</div>
					<!-- Right section end -->
				</form>
			</div>
		</div>
	</section>
</div>
<!-- CK Editor -->
<script src="https://cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>
<script>
    jQuery(document).ready(function () {
        CKEDITOR.replace('description', { height: '300px' });
        $("#featured").change(function(){
        	if (this.files && this.files[0]) {
			    var reader = new FileReader();
		        reader.onload = function (e) {
		            //jQuery('#preview').html('<img height="266px" width="266px" src="'+e.target.result+'" />');
		            jQuery('#preview').css({ background: "url("+e.target.result+")", height: '266px', width: '266px' });
		        }
		        reader.readAsDataURL(this.files[0]);
		    }
		});
    });
</script>